* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

input {
  padding: 10px 5px;
  border-radius: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.flex {
  display: flex;
}

.true-center {
  justify-content: center;
  align-items: center;
}

.pb-50 {
  padding-bottom: 50px;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.text-center {
  text-align: center;
  width: 100%;
}

.dismiss {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.user-full-name,
.tab-container {
  height: 40px;
  padding: 0 10px;
}

.post {
  padding: 20px 0;
  border-bottom: 2px solid gray;
}

.main-row > * {
  align-self: flex-start;
}

.user-full-name {
  margin: 0 0 20px 0;
}

.image {
  object-fit: cover;
  object-position: center;
}

.image-gallery-item {
  height: 250px;
}

.profile-image {
  max-height: 300px;
}

.tab {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 5% 5% 0 0;
  overflow: hidden;
  transition: .5s;
  cursor: pointer;
}

.tab:hover {
  background-color: lightgray;
  color: black;
}

.tab.active {
  background-color: white;
  color: black;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 7px 7px 8px -3px rgba(0,0,0,0.87);
  overflow: hidden;
}

.btn {
  background-color: powderblue;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  box-shadow: 2px 2px 3px 1px;
  position: relative;
  top: 0;
  transition: 0.2s;
}

.btn:hover {
  background-color: lightblue;
}

.btn:active{
  top: 3px;
  box-shadow: 1px 1px 1px 1px;
}

.modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.77);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 50%;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px;
}

.hidden {
  display: none;
}
